


         
   <style>
    @import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-img {
    background: url(https://images.pexels.com/photos/461940/pexels-photo-461940.jpeg);
    height: 150vh;
    background-size: cover;
    background-position: center;
}

.bg-img::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 150%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999;
    width: 370px;
    text-align: center;
    padding: 60px 32px;
    background: rgba(255, 255, 255, 0.04);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
}

.content header {
    color: #fff;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: 'Poppins', sans-serif;
}









.instagram {
  
    width: 50%;
    height: 45px;
    line-height: 45px;
    margin-top: 10px;
    margin-left: 80px;
    text-decoration: none;
}


.instagram {
    background: linear-gradient(to right, #b4b880 0%, #a13caa 100%);
    border: 1px solid linear-gradient(to right, #9900cc 0%, #ff3399 100%);
}


.instagram:hover {
    background: linear-gradient(to left, #9900cc 0%, #ff3399 100%);
}



.instagram a{
        text-decoration: none;

}
 
</style>


<% if(locals.user){%>
<div class="bg-img">
    <div class="content">
        <header>Welcome To CodingNinjas</header>
       
           
           
            <div class="instagram">
                                

                  <a href ="/user/signout"><i class="fab fa-instagram"><span>signout</span></i></a>
                </div>
               
                <div class="instagram">
                                

                  <a href ="/user/reset"><i class="fab fa-instagram"><span>Reset</span></i></a>
                </div>
            </div>
          
        </form>
    </div>
</div>
<%}%>



